version: '3.7'
services:
  mysql:
    image: mysql:latest
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    networks: 
      - bluecherry_net
    volumes:
      - ./database:/var/lib/mysql
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ADMIN_PASSWORD
      TZ: $TZ

  bluecherry:
    image: bc-server
    container_name: bc-server
    cap_add:
      - NET_BIND_SERVICE
    build:
      context: ./server/
      network: bluecherry_net
      args:
        MYSQL_ADMIN_PASSWORD: $MYSQL_ADMIN_PASSWORD
        # MYSQL_ADMIN_LOGIN: $MYSQL_ADMIN_LOGIN
        # BLUECHERRY_DB_USER: $BLUECHERRY_DB_USER
        BLUECHERRY_DB_PASSWORD: $BLUECHERRY_DB_PASSWORD
        # BLUECHERRY_DB_NAME: $BLUECHERRY_DB_NAME
        # BLUECHERRY_DB_HOST: $BLUECHERRY_DB_HOST
        # BLUECHERRY_DB_ACCESS_HOST: $BLUECHERRY_DB_ACCESS_HOST
        # BLUECHERRY_LINUX_GROUP_ID: $BLUECHERRY_LINUX_GROUP_ID
        # BLUECHERRY_LINUX_USER_ID: $BLUECHERRY_LINUX_USER_ID
    restart: unless-stopped
    networks: 
      - bluecherry_net
    volumes:
      - ./recordings:/var/lib/bluecherry/recordings
      # - ./etc/bluecherry.conf:/etc/bluecherry.conf
    # Enable this only if you have a supported VAAPI device and /dev/dri exists on the host system.
    # devices:
    #   - /dev/dri:/dev/dri
    ports:
      - "7001:7001/tcp"
      - "7002:7002/tcp"
      - "554:554/tcp"
      - "554:554/udp"    
    depends_on:
      - mysql

networks:
  bluecherry_net:
    name: bluecherry_net
